<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Edit {{ restaurant.name }} Restaurant</h1>
    <form action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method="POST" >
        <input type="text" name="modifyRestaurant" placeholder="{{restaurant.name}}">
        <input type="Submit" value="Edit">
    </form>
    <a href="{{ url_for('showRestaurants')}}">Cancel</a>
</body>
</html>